#calDisplay{
    border: rgb(164, 164, 164) solid 2px;
    padding: 5px;
    width: 25%;
    font-size: 20px;
    border-radius: 1%;
    background: #cecccc;

}
#display{
    width: 97%;
    font-size: 20px;
}
.button{
    height: 35px;
    width: 40px;
    margin: 3px;
    border-radius: 10%;
    color: rgb(0, 0, 0);
    background: #eeecee;
}
#butt{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}